<h1><%= @cats.name %></h1>
<table>
    <tr>
        <th colspan="2">Attributes</th>
        <th colspan="2">Value</th>
    </tr>
    <tbody>
        <tr>
            <td> <%= @cats.color %></td>
            <td> <%= @cats.name %></td>
            <td> <%= @cats.sex %></td>
            <td> <%= @cats.description %></td>
        </tr>
    </tbody>
</table>
    